/* Atom animáció kezdete */

.atom{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#2a3e4d,#255c72);
    display: flex;
    align-items: center;
    justify-content: center;

}

svg{
    width: 90vmin;
    height: 90vmin;
    overflow: visible;
}

svg .shadow{
    filter: url(#blur);
    fill: #2a3e4d;
    opacity: 0.4;
}

svg .core{
    fill: url(#gradient);
    cursor: pointer;
}

svg .core circle:first-child{
filter: url(#blur);
opacity: 0.5;

}

svg .ring ellipse {
    stroke: #00ddfd;
    stroke-width: 2px;
    fill: none;
    transform-origin: center ;
    stroke-dasharray: 100 6;
    stroke-dashoffset: 26;
    
}

svg .ring ellipse:nth-child(1){
    filter: url(#blur);
    opacity: 0.5;

}

svg .ring ellipse:nth-child(3){
    stroke-dasharray: 0 230 !important;
    /*animation: orbit;*/
    animation-duration: 18s !important;
    animation-timing-function: linear !important;
    animation-iteration-count: infinite !important;
    stroke-width: 7px !important;
    stroke-linecap: round !important;
    cursor: pointer !important;
}

svg .ring ellipse:nth-child(4){
    stroke-dasharray: 0 230 !important;
    /*animation: orbit;*/
    animation-duration: 18s !important;
    animation-delay: -9s !important;
    animation-timing-function: linear !important;
    animation-iteration-count: infinite !important;
    stroke-width: 7px !important;
    stroke-linecap: round !important;
    cursor: pointer !important;
}

svg .ring:nth-child(2) ellipse{
    animation-duration: 18s;
    animation-direction: reverse;

}

svg .ring:nth-child(3) ellipse:nth-child(3){
animation-delay: -6s;
stroke: yellow;

}

svg .ring:nth-child(2) ellipse:nth-child(3){
    animation-delay: -6s;
    stroke: red;
    
    }

svg .ring:nth-child(1) ellipse:nth-child(3){
    animation-delay: -6s;
    stroke: green;
        
    }

svg .ring:nth-child(2) ellipse:nth-child(4){
    animation-delay: -6s;
    stroke: purple;
        
    }

    
svg .ring:nth-child(3) ellipse:nth-child(4){
    animation-delay: -6s;
    stroke: orange;
        
    }

svg .ring:nth-child(1) ellipse:nth-child(4){
    animation-delay: -6s;
    stroke: blue;
        
    }

@keyframes orbit{
    0%{
        stroke-dashoffset: 0;
    }

    50%{
        stroke-width: 4px ;
    }

    100%{

        stroke-dashoffset: 230;
    }
}

/* Atom animáció vége */

a{
    color: white;
    text-decoration: none;
}

/*Banner aka Slider with Text kezdete*/
    
.banner {
    background-attachment: fixed;
    background-color: f#ff0000;
    background-image: url(../IMG/ensz_6.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
}

.banner2 {
    background-attachment: fixed;
    background-color: f#ff0000;
    background-image: url(../IMG/ensz_5.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
}

.banner3 {
    background-attachment: fixed;
    background-color: f#ff0000;
    background-image: url(../IMG/ensz_4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
}

.banner4 {
    background-attachment: fixed;
    background-color: f#ff0000;
    background-image: url(../IMG/ensz_3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
}

.banner5 {
    background-attachment: fixed;
    background-color: f#ff0000;
    background-image: url(../IMG/ensz_2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
}

.banner6 {
    background-attachment: fixed;
    background-color: f#ff0000;
    background-image: url(../IMG/ensz_1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
}

.bg-overlay {
    padding: 17.5rem 0 14rem;
    background-color: RGBA(15, 5, 20, 0.84);
}

.banner-text h2 span {
    color: #ff0000;
}

.banner-button {
    border: rgba(230, 49, 17, 0.18) 1px solid;
    padding: 0.9rem 2rem;
    color: #ccc;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.7rem 1.7rem 1.7rem 1.7rem;
    font-size: 1rem;
    margin-top: 3rem;
}

.banner-button:hover {
    background-color: #ccc;
    text-decoration: none;
    color: #000;
}

.arrow {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 1.25px #fff, 0 0 2.5px #fff, 0 0 3.75px #d93d3d, 0 0 5px #d93d3d, 0 0 6.25px #d93d3d, 0 0 7.5px #d93d3d, 0 0 8.75px #d93d3d;
    }
    to {
        text-shadow: 0 0 2.5px #fff, 0 0 3.75px #d93d3d, 0 0 5px #d93d3d, 0 0 6.25px #d93d3d, 0 0 7.5px #d93d3d, 0 0 8.75px #d93d3d, 0 0 10px #d93d3d;
    }
}
/*Banner aka Slider with Text vége*/
 /*Navbar kezdete*/
    
 ul {
    position: fixed;
    left: 49%;
    transform: translate(-50%, -50%);
    padding: 1.3rem 0rem;
    margin-top: 5rem !important;
    background-color: rgb(107, 23, 23);
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

ul li a .icon .fa .icons::before {
    vertical-align: middle;
}

ul li {
    padding-left: 0%;
    padding-right: 0%;
    list-style: none;
    text-align: center;
    display: block;
}

ul li:last-child {
    border-right: none;
}

ul li a {
    text-decoration: none;
    display: block;
}

ul li a .icon {
    width: 90%;
    height: 90%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

ul li a .icon .fa {
    width: 90%;
    height: 90%;
    line-height: 90%;
    transition: 0.5s;
    vertical-align: middle;
    color: white;
}

article a div {
    color: white !important;
    transition: 0.5s;
}

article:hover a div {
    color: gold !important;
}

.fa-stack-1x {
    vertical-align: middle !important;
}

.nearly-bold {
    font-weight: 400 !important;
}

@media screen and (min-width:300px) {
    .pax {
        padding-left: 0.05rem;
        padding-right: 0.05rem;
    }
    .pay {
        margin-top: 0.05rem;
        margin-bottom: 0.05rem;
    }
    .card01-text {
        font-size: 6px;
    }
}

@media screen and (min-width:400px) {
    .pax {
        padding-left: 0.05rem;
        padding-right: 0.05rem;
    }
    .pay {
        margin-top: 0.15rem;
        margin-bottom: 0.15rem;
    }
    .card01-text {
        font-size: 7px;
    }
}

@media screen and (min-width:500px) {
    .pax {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
    .pay {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    .card01-text {
        font-size: 10px;
    }
}

@media screen and (min-width:650px) {
    .pax {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .pay {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .card01-text {
        font-size: 16px;
    }
}
/*Navbar vége*/


/*Main card kezdete*/

.frame{
    position: relative !important;
}

.card01-photo{
    vertical-align: middle !important;
    max-height: 100% !important;
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.text-justify{
    text-align: justify !important;
}

/*Main card Vége*/

/*Content kezdete*/

li::marker{
    text-align: center !important;
    text-align-last: center !important;
}

/*Content vége*/

/*Footer kezdete*/
    
.hovereditem {
    color: white !important;
    transition: 0.5s;
}

.hovereditem:hover {
    color: gold !important;
}

.hovereditem2 {
    color: black !important;
    transition: 0.5s;
}

.hovereditem2:hover {
    color: rgb(107, 23, 23) !important;
}

.text-justify {
    text-align: justify !important;
}

.bg-neured {
    background-color: rgb(107, 23, 23) !important;
}
/*Footer vége*/


/*Content screen kezdete*/

.content-screen{
    position: absolute;
    z-index: 3;
    width: 100vmax;
    height: 100vmax;
    background-color: rgba(0, 0, 0, 0.6); 
}

.content-card{
    position: absolute;
    left:20%;
    right: 20%;
    z-index: 4;
    width: 60vmax;
    height: 40vmax;
    background-color: rgba(255, 255, 255, 0.8);
}

.content-card .row{
    position: relative;
}

.contentUL{
    position: relative !important;
    left: unset !important;
    transform: unset !important;
    padding: unset !important;
    margin: unset !important;
    background-color: unset !important;
    display: unset !important;
    border-radius: unset !important;
    box-shadow: unset !important;
    z-index: unset !important;
}

.contentUL li{
    padding-left: unset !important;
    padding-right: unset !important;
    list-style: circle !important;
    text-align: unset !important;
    display: unset !important;
}
