/* Atom animáció kezdete */

.atom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 90vmin;
  height: 90vmin;
  overflow: visible;
}

svg .shadow {
  filter: url(#blur);
  fill: #2a3e4d;
  opacity: 0.4;
}

svg .core {
  fill: url(#gradient);
  cursor: pointer;
}

svg .core circle:first-child {
  filter: url(#blur);
  opacity: 0.5;
}

svg .ring ellipse {
  stroke: #00ddfd;
  stroke-width: 2px;
  fill: none;
  transform-origin: center;
  stroke-dasharray: 100 6;
  stroke-dashoffset: 26;
}

svg .ring ellipse:nth-child(1) {
  filter: url(#blur);
  opacity: 0.5;
}

svg .ring ellipse:nth-child(3) {
  stroke-dasharray: 0 230 !important;
  /*animation: orbit;*/
  animation-duration: 18s !important;
  animation-timing-function: linear !important;
  animation-iteration-count: infinite !important;
  stroke-width: 7px !important;
  stroke-linecap: round !important;
  cursor: pointer !important;
}

svg .ring ellipse:nth-child(4) {
  stroke-dasharray: 0 230 !important;
  /*animation: orbit;*/
  animation-duration: 18s !important;
  animation-delay: -9s !important;
  animation-timing-function: linear !important;
  animation-iteration-count: infinite !important;
  stroke-width: 7px !important;
  stroke-linecap: round !important;
  cursor: pointer !important;
}

svg .ring:nth-child(2) ellipse {
  animation-duration: 18s;
  animation-direction: reverse;
}

svg .ring:nth-child(3) ellipse:nth-child(3) {
  animation-delay: -6s;
  stroke: yellow;
}

svg .ring:nth-child(2) ellipse:nth-child(3) {
  animation-delay: -6s;
  stroke: red;
}

svg .ring:nth-child(1) ellipse:nth-child(3) {
  animation-delay: -6s;
  stroke: green;
}

svg .ring:nth-child(2) ellipse:nth-child(4) {
  animation-delay: -6s;
  stroke: purple;
}

svg .ring:nth-child(3) ellipse:nth-child(4) {
  animation-delay: -6s;
  stroke: orange;
}

svg .ring:nth-child(1) ellipse:nth-child(4) {
  animation-delay: -6s;
  stroke: blue;
}

@keyframes orbit {
  0% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-width: 4px;
  }

  100% {
    stroke-dashoffset: 230;
  }
}

/* Atom animáció vége */

a {
  color: white;
  text-decoration: none;
}

/*Banner aka Slider with Text kezdete*/

.banner {
  background-attachment: fixed;
  background-color: f#ff0000;
  background-image: url(../IMG/ensz_6.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: default;
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
}

.banner2 {
  background-attachment: fixed;
  background-color: f#ff0000;
  background-image: url(../IMG/ensz_5.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: default;
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
}

.banner3 {
  background-attachment: fixed;
  background-color: f#ff0000;
  background-image: url(../IMG/ensz_4.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: default;
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
}

.banner4 {
  background-attachment: fixed;
  background-color: f#ff0000;
  background-image: url(../IMG/ensz_3.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: default;
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
}

.banner5 {
  background-attachment: fixed;
  background-color: f#ff0000;
  background-image: url(../IMG/ensz_2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: default;
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
}

.banner6 {
  background-attachment: fixed;
  background-color: f#ff0000;
  background-image: url(../IMG/ensz_1.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: default;
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
}

.bg-overlay {
  padding: 17.5rem 0 14rem;
  background-color: RGBA(15, 5, 20, 0.84);
}

.banner-text h2 span {
  color: #ff0000;
}

.banner-button {
  border: rgba(230, 49, 17, 0.18) 1px solid;
  padding: 0.9rem 2rem;
  color: #ccc;
  text-decoration: none;
  display: inline-block;
  border-radius: 1.7rem 1.7rem 1.7rem 1.7rem;
  font-size: 1rem;
  margin-top: 3rem;
}

.banner-button:hover {
  background-color: #ccc;
  text-decoration: none;
  color: #000;
}

.arrow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1.25px #fff, 0 0 2.5px #fff, 0 0 3.75px #d93d3d,
      0 0 5px #d93d3d, 0 0 6.25px #d93d3d, 0 0 7.5px #d93d3d, 0 0 8.75px #d93d3d;
  }
  to {
    text-shadow: 0 0 2.5px #fff, 0 0 3.75px #d93d3d, 0 0 5px #d93d3d,
      0 0 6.25px #d93d3d, 0 0 7.5px #d93d3d, 0 0 8.75px #d93d3d,
      0 0 10px #d93d3d;
  }
}
/*Banner aka Slider with Text vége*/
/*Navbar kezdete*/

.navbar-ul {
  position: fixed;
  left: 49%;
  transform: translate(-50%, -50%);
  padding: 1.3rem 0rem;
  margin-top: 5rem !important;
  background-color: rgb(107, 23, 23);
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.navbar-ul .navbar-li a .icon .fa .icons::before {
  vertical-align: middle;
}

.navbar-ul .navbar-li {
  padding-left: 0%;
  padding-right: 0%;
  list-style: none;
  text-align: center;
  display: block;
}

.navbar-ul .navbar-li:last-child {
  border-right: none;
}

.navbar-ul .navbar-li a {
  text-decoration: none;
  display: block;
}

.navbar-ul .navbar-li a .icon {
  width: 90%;
  height: 90%;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.navbar-ul .navbar-li a .icon .fa {
  width: 90%;
  height: 90%;
  line-height: 90%;
  transition: 0.5s;
  vertical-align: middle;
  color: white;
}

article a div {
  color: white !important;
  transition: 0.5s;
}

article:hover a div {
  color: gold !important;
}

.fa-stack-1x {
  vertical-align: middle !important;
}

.nearly-bold {
  font-weight: 400 !important;
}

@media screen and (min-width: 300px) {
  .pax {
    padding-left: 0.05rem;
    padding-right: 0.05rem;
  }
  .pay {
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
  }
  .card01-text {
    font-size: 6px;
  }
}

@media screen and (min-width: 400px) {
  .pax {
    padding-left: 0.05rem;
    padding-right: 0.05rem;
  }
  .pay {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }
  .card01-text {
    font-size: 7px;
  }
}

@media screen and (min-width: 500px) {
  .pax {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  .pay {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .card01-text {
    font-size: 10px;
  }
}

@media screen and (min-width: 650px) {
  .pax {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .pay {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .card01-text {
    font-size: 16px;
  }
}
/*Navbar vége*/

/*Main card kezdete*/

.frame {
  position: relative !important;
}

.card01-photo {
  vertical-align: middle !important;
  max-height: 100% !important;
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}

.text-justify {
  text-align: justify !important;
}

/*Main card Vége*/

/*Content kezdete*/

.leaders li {
  padding: 0.9%;
}

.content-ul {
  list-style-type: none !important;
  margin-right: 0% !important;
}

.hovereditem3 {
  color: black !important;
  transition: 0.5s;
}

.hovereditem3:hover {
  color: rgb(107, 23, 23) !important;
}

/*Content vége*/

/*Footer kezdete*/

.hovereditem {
  color: white !important;
  transition: 0.5s;
}

.hovereditem:hover {
  color: gold !important;
}

.hovereditem2 {
  color: black !important;
  transition: 0.5s;
}

.hovereditem2:hover {
  color: rgb(107, 23, 23) !important;
}

.text-justify {
  text-align: justify !important;
}

.bg-neured {
  background-color: rgb(107, 23, 23) !important;
}
/*Footer vége*/

/*Content screen kezdete*/

.content-screen {
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
/*Media Quarry req*/
.content-card {
  position: absolute;
  left: 10%;
  right: 10%;
  z-index: 4;
  /*width: 60vmax;*/
  height: 40vmax;
  background-color: rgba(255, 255, 255, 0.8);
}

.content-card .row {
  position: relative;
  margin: 3px;
}

.content-card #content-image {
  margin-top: 5px;
}

@media screen and (min-width: 1455px) {
  .content-card {
    left: auto;
    right: auto;
    height: 40vmax;
  }
}

@media screen and (max-width: 848px) {
  .content-card {
    left: auto;
    right: auto;
    height: 45vmax;
  }
}

@media screen and (max-width: 750px) {
  .content-card {
    left: auto;
    right: auto;
    height: 50vmax;
  }
}

@media screen and (max-width: 715px) {
  .content-card {
    left: auto;
    right: auto;
    height: 55vmax;
  }
}

@media screen and (max-width: 593px) {
  .content-card {
    left: auto;
    right: auto;
    height: 60vmax;
  }
}

@media screen and (max-width: 533px) {
  .content-card {
    left: auto;
    right: auto;
    height: 65vmax;
  }
}

@media screen and (max-width: 465px) {
  .content-card {
    left: auto;
    right: auto;
    height: 70vmax;
  }
}

@media screen and (max-width: 409px) {
  .content-card {
    left: auto;
    right: auto;
    height: 75vmax;
  }
}

@media screen and (max-width: 407px) {
  .content-card {
    left: auto;
    right: auto;
    height: 80vmax;
  }
}

@media screen and (max-width: 365px) {
  .content-card {
    left: auto;
    right: auto;
    height: 85vmax;
  }
}

@media screen and (max-width: 360px) {
  .content-card {
    left: auto;
    right: auto;
    height: 90vmax;
  }
}

@media screen and (max-width: 350px) {
  .content-card {
    left: auto;
    right: auto;
    /*top: 595px !important;*/
    height: 100vmax;
  }
}

/*Startup*/

@import url("https://fonts.googleapis.com/css?family=Barlow");

body.main {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Barlow", sans-serif;
}
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}
h1.main,
p.demos {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/*animation*/
.sp-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-radial-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3) 35%,
    rgba(0, 0, 0, 0.7)
  );
  background: -moz-radial-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3) 35%,
    rgba(0, 0, 0, 0.7)
  );
  background: -ms-radial-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3) 35%,
    rgba(0, 0, 0, 0.7)
  );
  background: radial-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3) 35%,
    rgba(0, 0, 0, 0.7)
  );
}
.sp-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
.sp-container h2 {
  position: absolute;
  top: 50%;
  line-height: 100px;
  height: 90px;
  margin-top: -50px;
  font-size: 90px;
  width: 100%;
  text-align: center;
  color: transparent;
  -webkit-animation: blurFadeInOut 3s ease-in backwards;
  -moz-animation: blurFadeInOut 3s ease-in backwards;
  -ms-animation: blurFadeInOut 3s ease-in backwards;
  animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.sp-container h2.frame-2 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
.sp-container h2.frame-3 {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.sp-container h2.frame-4 {
  /*font-size: 200px;*/
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}
.sp-container h2.frame-5 {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span {
  -webkit-animation: blurFadeIn 3s ease-in 12s backwards;
  -moz-animation: blurFadeIn 1s ease-in 12s backwards;
  -ms-animation: blurFadeIn 3s ease-in 12s backwards;
  animation: blurFadeIn 3s ease-in 12s backwards;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span:nth-child(2) {
  -webkit-animation-delay: 13s;
  -moz-animation-delay: 13s;
  -ms-animation-delay: 13s;
  animation-delay: 13s;
}
.sp-container h2.frame-5 span:nth-child(3) {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -ms-animation-delay: 14s;
  animation-delay: 14s;
}

@media screen and (min-width: 733px) {
  .sp-container h2 {
    font-size: 90px;
  }
}

@media screen and (max-width: 405px) {
  .sp-container h2 {
    font-size: 85px;
  }
}

@media screen and (max-width: 400px) {
  .sp-container h2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 390px) {
  .sp-container h2 {
    font-size: 75px;
  }
}

@media screen and (max-width: 336px) {
  .sp-container h2 {
    font-size: 70px;
  }
}

@media screen and (max-width: 312px) {
  .sp-container h2 {
    font-size: 65px;
  }
}

@media screen and (max-width: 290px) {
  .sp-container h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 270px) {
  .sp-container h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 247px) {
  .sp-container h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 220px) {
  .sp-container h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 196px) {
  .sp-container h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 175px) {
  .sp-container h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 154px) {
  .sp-container h2 {
    font-size: 30px;
  }
}

/*animation end*/

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes fadeInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: scale(5);
  }
}
@-webkit-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}
/**/

@-moz-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -moz-transform: scale(0);
  }
}
@-moz-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.3);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
}
@-moz-keyframes fadeInBack {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -moz-transform: scale(2);
  }
  100% {
    opacity: 0.2;
    -moz-transform: scale(5);
  }
}
@-moz-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -moz-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
  }
}
/**/

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}
@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
    transform: scale(2);
  }
  100% {
    opacity: 0.2;
    transform: scale(5);
  }
}
@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/*blur*/

/* Main felsorolás*/

#main-ul {
  font-size: 120%;
}

#main-ul li:nth-child(4) {
  color: purple;
}

#main-ul li:nth-child(2) {
  color: blue;
}
#main-ul li:nth-child(3) {
  color: yellow;
}

#main-ul li:nth-child(5) {
  color: orange;
}

#main-ul li:nth-child(1) {
  color: green;
}

#main-ul li:nth-child(6) {
  color: red;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.card {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body.second {
  background: linear-gradient(#2a3e4d, #255c72);
}
p,
ul {
  margin-bottom: unset;
}

#toast {
  z-index: 999;
}
